@model Collection

@{
    ViewBag.Title = "Edit";
}
<!DOCTYPE html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- style sheets begin -->
    <link rel="stylesheet" href="/Content/bootstrap.css">
    <link rel="stylesheet" href="/Content/animate.css">
    <link rel="stylesheet" href="/Content/toastr.css">
    <link rel="stylesheet" href="/Content/main.css">
    <link rel="stylesheet" href="/Content/fontawesome.css">
    <!-- style sheets end -->
</head>
<body ng-app="initProjApp">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <div id="top-bar">
        <div class="container-fluid">
            <div class="col-md-6">
                <ul class="nav-inline fadeInDown animated">
                    <li>
                        <a href="/" class="btn btn-primary"><span class="glyphicon glyphicon-chevron-left"></span> Back to Workspace</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-6">
                <ul class="nav-inline pull-right fadeInDown animated">
                    <li><a class="btn btn-default">@ViewBag.Username</a></li>
                    <li><a class="btn btn-primary" href="#"><span class="glyphicon glyphicon-question-sign"></span></a></li>
                    <li><a class="btn btn-primary" href="/Logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
                </ul>
            </div>
        </div>
    </div>

    <!-- Add your site or application content here -->
    <div class="container" ng-view="">
        <h2>Edit Host</h2>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.Id)

                <div class="form-group">
                    @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Host, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Host, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Host, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Type, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Id, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Type, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Save" class="btn btn-default" />
                    </div>
                </div>
            </div>
        }

        <div>
            @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary" })
        </div>
    </div>
